/**排名样式**/
.banglistBox{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);color:#fff;z-index:9;}
.banglistBox-main{position:relative;width:1050px;border-radius:5px;height:490px;border:1px solid rgba(255,255,255,.4);-webkit-box-shadow:inset 0 0 5px rgba(255,255,255,.4), 0 0 5px rgba(0,0,0,.4);-moz-box-shadow:inset 0 0 5px rgba(255,255,255,.4), 0 0 5px rgba(0,0,0,.4);box-shadow:inset 0 0 5px rgba(255,255,255,.4), 0 0 5px rgba(0,0,0,.4);background:-webkit-linear-gradient(235deg, rgba(255,255,255,.1) 60%, rgba(255,255,255,0) 60%);background:-moz-linear-gradient(235deg, rgba(255,255,255,.1) 60%, rgba(255,255,255,0) 60%);background:-o-linear-gradient(235deg, rgba(255,255,255,.1) 60%, rgba(255,255,255,0) 60%);}
.banglist-top{position:absolute;left:325px;top:-85px;width:350px;height:70px;font-size:32px;line-height:70px;text-align:center;}
.banglist-title{width:100%;height:60px;font-size:30px;}
.banglist-title .banglist-num{width:15%;}
.banglist-title .banglist-tx{width:15%;}
.banglist-title .banglist-name{width:40%;}
.banglist-title .banglist-cj{width:30%;}
.banglist-close{position:absolute;top:-50px;right:-80px;cursor:pointer;}
.banglist-close i{font-size:40px;color:#FFFFFF;}
.banglist{width:100%;height:420px;overflow-x:hidden;overflow-y:auto;}
.banglist .banglist-item {width:100%;height:70px;border-top:1px solid rgba(255,255,255,.4);}
.banglist .banglist-item div{height:100%;}
.banglist .banglist-item .banglist-pm{width:15%;}
.banglist .banglist-item .banglist-pm span {display:inline-block;text-align:center;font-size:21px;}
.banglist .banglist-item .banglist-pm .banglist-tag {width:40px;}
.banglist .banglist-item .banglist-avatar{width:15%;}
.banglist .banglist-item .banglist-avatar img{width:45px;height:45px;border-radius:100%;}
.banglist .banglist-item .banglist-nickname{width:40%;}
.banglist .banglist-item .banglist-nickname p{width:100%;font-size:25px;white-space:nowrap;overflow:hidden;text-align:center;text-overflow:ellipsis;}
.banglist .banglist-item .banglist-score{width:30%;}
.banglist .banglist-item .banglist-score span {display:inline-block;color:yellow;font-size:30px;font-style:normal;}
.banglistBox-btns{width:100%;text-align:center;position:absolute;bottom:-80px;left:0;}
.banglistBox-btns .banglistBox-btn{display:inline-block;border:1px solid #FFFFFF;padding:10px 20px;border-radius:5px;cursor:pointer;}
.banglistBox-btns .banglistBox-btn:hover{background-color:#FFFFFF;color:#333333;}