.hdQrbox {position:absolute;top:20%;left:80%;width:200px;color:#646464;display:none;z-index:9;}
.hdQrbox.active:before {content:'';width:100%;height:100%;position:absolute;left:-2px;top:-2px;border:2px solid #4886FF;z-index:-1;}
.hdQrbox-txt {margin:0;height:40px;color:#FFFFFF;text-align:center;line-height:40px;cursor:default;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;}
.hdQrbox img {display:block;width:100%;height:calc(100% - 40px);vertical-align:middle;cursor:move;border-radius:5px;}
.hdQrbox span{width:10px;height:10px;overflow:hidden;border-radius:10px;background-color:#4886FF;position:absolute;cursor:nwse-resize;display:none;}
.hdQrbox.active span{display:block;}
.hdQrbox .bl,.hdQrbox .tl,.hdQrbox .lc{left:-6px;}
.hdQrbox .br,.hdQrbox .tr,.hdQrbox .rc{right:-6px;}
.hdQrbox .bl,.hdQrbox .br {bottom:-6px;}
.hdQrbox .tl,.hdQrbox .tr {top:-6px;}
.hdQrbox .bl,.hdQrbox .tr {cursor:nesw-resize;}
.hdQrbox .lc,.hdQrbox .rc {top:calc(50% - 2.5px);cursor:w-resize;display:none;}