.welcomeBox{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3;background-color:rgba(0,0,0,0.3);color:#FFFFFF;}
.welcomeBox-main{width:1000px;}
.welcomeBox-logo{width:1000px;height:478px;}
.welcomeBox-logo img{width:100%;height:100%;}
.welcomeBox-join{width:100%;margin:30px auto;}
.welcomeBox-nums{flex:2;-webkit-flex:2;-mos-flex:2;height:85px;font-size:35px;}
.welcomeBox-nums span{display:inline-block;margin-left:20px;font-size:50px;font-weight:800;}
.start-btn{width:260px;height:85px;text-align:center;background-size:cover;background-repeat:no-repeat;background-image:url("../../images/screen/shuqian/start.png");font-size:30px;cursor:pointer;}
.welcome-users{width:100%;height:100px;background-color:rgba(0,0,0,0.4);border-radius:10px;}
.welcome-users div{width:80px;margin-right:14px;height:80px;background-color:#FFFFFF;border:2px solid #F23939;border-radius:50%;background-size:cover;background-repeat:no-repeat;}
.welcome-users div:last-of-type {margin-right:0px;}